ul[class=pagination] {
    list-style-type: none;
    display: flex;
    justify-content: center;
}

ul[class=pagination] li {
    display: inline;
    margin: .2em;
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

ul[class=pagination] li[class=active] {
    font-weight: bold;
    text-decoration: unset;
    color: unset;
    cursor: unset;
}

ul[class=pagination] li[class=disable] {
    text-decoration: unset;
    color: unset;
    cursor: unset;
}