ul[class=pokemon] {
    columns: 5;
    column-width: auto;
}

ul[class=pokemon] li {
    list-style-type: none;
    text-align: center;
    min-width: min-content;
}

ul[class=pokemon] li img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}