:root {
    --small-margin: 5px;
}

img[class=loading] {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

ul[class=pokemon] {
    columns: 5;
    column-gap: var(--small-margin);
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    ul[class=pokemon] {
        columns: 4;
    }
}

@media only screen and (min-width: 480px) and (max-width: 768px) {
    ul[class=pokemon] {
        columns: 2;
    }
}

@media only screen and (max-width: 480px) {
    ul[class=pokemon] {
        columns: 1;
    }
}

ul[class=pokemon] li {
    list-style-type: none;
    break-inside: avoid;

    text-align: center;
    width: max-content;

    margin-bottom: var(--small-margin);

    border: thin black groove;
    border-radius: 10px;

    background-color: bisque;
}

ul[class=pokemon] li img {
    border: thin black groove;
    border-radius: 10px;
    margin: var(--small-margin);

    background-color: antiquewhite;

}